version: '3'

services:
  web:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/myapp
      - bundle:/usr/local/bundle
    tty: true
  db:
    image: postgres
    volumes:
      - pgsqldb:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
    ports:
      - "3306:3306"

volumes:
  pgsqldb:
    driver: local
  bundle:
    driver: local